/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  /* 2. Remove default margin */
  * {
    margin: 0;
  }
  
  body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
  }
  
  /* 5. Improve media defaults */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  /* 6. Inherit fonts for form controls */
  input, button, textarea, select {
    font: inherit;
  }
  
  /* 7. Avoid text overflows */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  /* 8. Improve line wrapping */
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }

  /* CSS RESET FROM https://www.joshwcomeau.com/css/custom-css-reset/ */

:root{
  --darkGreen: #042f2e;
  --subtleGreen: #dcfce7;
  --mediumGreen: #22c55e;
}

  /* FONTS*/
  @font-face {
    font-family: 'robotoregular';
    src: url('fonts/roboto-regular-webfont.woff2') format('woff2'),
         url('fonts/roboto-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.container {
    display: grid;
    grid-template: 1fr 5fr / 1fr 4fr;
    grid-template-areas:
    "sidebar header"
    "sidebar main";
    min-height: 100vh;
    font-family: robotoregular, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.sidebar {
    background-color: var(--darkGreen);
    grid-area: sidebar;
    display: grid;
    grid-template-rows: 50px 3fr 3fr;
    gap: 50px;
    color: #ecfdf5;
    padding-left: 2vw;
}

.logo-container {
    display: grid;
    grid-template-columns: 40px 1fr;
    gap: 10px;
    padding-top: 2vh;
}

.logo-text{
    font-size: 2rem;
}


.logo-container > img {
    height: 50px;
    width: 50px;
}

.sidebar-menu > ul{
    display: grid;
    grid-template-rows: repeat(6, 40px);
    gap: 10px;
    width: 100%;
    padding-left: 0;
}

.sidebar-settings > ul {
  display: grid;
  grid-template-rows: repeat(3, 40px);
  gap: 10px;
  width: 100%;
  padding-left: 0;
}

.sidebar-menu > ul > li,
.sidebar-settings > ul > li{
    list-style-type: none;
    display: grid;
    grid-template-columns: 25px 6fr;
    column-gap: 10px;
    font-size: 1.2rem;
    align-items: center;
}


.header{
    background-color: white;
    grid-area: header;
    display: grid;
    grid-template: 2fr 3fr / 1.5fr 1fr;
    grid-template-areas: 
    "search user"
    "greeting action";
    row-gap: 10px;
    box-shadow: 0px 8px 6px -5px rgba(0,0,0,0.75);
    z-index: 2;
}

.search-container{
  grid-area: search;
  display: grid;
  grid-template-columns: 30px 1fr;
  grid-auto-rows: 1rem;
  gap: 20px;
  align-content: center;
  padding-left: 50px;
}

.search-container > input{
  border: none;
  background-color: var(--subtleGreen);
  max-width: 90%;
  line-height: 1.5;
  height: 1.4rem;
  border-radius: 20px;
  outline: none;
}

.search-container > input:focus{
  border: 1px solid var(--darkGreen);
}

.user-container{
  grid-area: user;
  display: grid;
  grid-template-columns: 30px 35px 5fr;
  align-items: center;
  gap: 20px;
  font-size: 1.2rem;
  font-weight: bold;
  padding-left: 150px;
  padding-top: 5px;
}

.user-profile-picture{
  padding: 2px;
}

.greeting-container{
  grid-area: greeting;
  display: grid;
  grid-template-columns: 60px 1fr;
  padding-left: 50px;
  gap: 20px;
}

.greeting-name{
  font-size: 1.5rem;
  font-weight: bold;
}

.action-container{
  grid-area: action;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  grid-auto-rows: 35px;
  justify-content: center;
  padding-top: 2%;
}

.action-container button {
  width: clamp(70px, 100px, 120px);
  background-color: var(--darkGreen);
  color: white;
  outline: none;
  border-radius: 20px;
}

.main{
  background-color: var(--subtleGreen);
  grid-area: main;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-areas: 
  "projects main-side";
}

.projects-container{
  grid-area: projects;
  display: grid;
  gap: 1rem;
  grid-template-rows: 20px 1fr;
  padding: 1rem;
}

.cards-container{
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(2, minmax(250px, 1fr));
  grid-template-rows: repeat(3, 1fr);
}

.card {
  border-radius: 10px;
  border-left: 10px solid var(--mediumGreen);
  display: grid;
  font-size: 0.9rem;
  max-width: 400px;
  box-shadow: 10px 10px 16px -10px rgba(0,0,0,0.75);
  grid-template-rows: 2fr auto;
}

.card-icons {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr 1fr;
  padding-top: 20px;
  padding-bottom: 20px;
}

.card-icons img {
  height: 2rem;
}

.card-text{
  padding-left: 30px;
  padding-top: 20px;
}

.card-description{
  max-width: 80%;
  font-weight: lighter;
  font-size: small;
} 

.main-side-container{
  grid-area: main-side;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
  "announcements"
  "trending" ;
}

.announcements-container{
  grid-area: announcements;
  display: grid;
  grid-template-rows: 20px 1fr;
  gap: 1rem;
  padding: 1rem;
}

.announcement-card{
  border-radius: 10px;
  height: 100%;
  max-width: clamp(250px, 90%, 350px);
  background-color: white;
  box-shadow: 10px 10px 16px -10px rgba(0,0,0,0.75);
  padding: 20px;
  display: grid;
  grid-template-rows: repeat(3, 1fr) ;
  font-size: 0.8rem;
  row-gap: 20px;
}

.announcement{
  border-bottom: 1px solid gainsboro
}

.trending-container{
  grid-area: trending;
  display: grid;
  grid-template-rows: 20px 1fr;
  gap: 1rem;
  padding: 1rem;
}

.trending-card{
  height: 100%;
  background-color: white;
  display: grid;
  padding: 20px;
  max-width: clamp(250px, 90%, 350px);
  box-shadow: 10px 10px 16px -10px rgba(0,0,0,0.75);
  grid-template-rows: repeat(4, 1fr);
}

.other-profile {
  display: grid;
  grid-template-columns: 35px 1fr;
  gap: 20px;
}


.card{
  background-color: white;
}
